.delayed-feedback-div {
  position: relative;
  top: 50vh;
  left: 50vw;
  display: inline;
  z-index: 10000;
}

/* XX-Large */
@media (min-width: 1400px) {
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991px) {
}
/*  Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 499px) and (max-width: 575px) {
}

/* XX-Small devices (portrait phones, less than 499px) */
@media (min-width: 367px) and (max-width: 498px) {
}

/* XXX-Small devices (portrait phones, less than 367px) */
@media (max-width: 366px) {
}
