/*  */
.resume {
  color: #fff;
}

/* XX-Large */
@media (min-width: 1400px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: auto;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-left: 2rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
    font-weight: 500;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }
  .projects-main-card-heading {
    font-size: 1rem;
  }
  .projects-main-card-para {
    font-size: 1rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 2rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 4rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: auto;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-left: 2rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
    font-weight: 500;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }
  .projects-main-card-heading {
    font-size: 1rem;
  }
  .projects-main-card-para {
    font-size: 1rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 2rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 4rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: auto;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-left: 2rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
    font-weight: 500;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }

  .projects-main-card-heading {
    font-size: 1rem;
  }
  .projects-main-card-para {
    font-size: 1rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 2rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 4rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: auto;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-top: 3rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
    font-weight: 500;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }

  .projects-main-card-heading {
    font-size: 1rem;
  }
  .projects-main-card-para {
    font-size: 1rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.6rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: row;
  }
  .skills-maindiv::-webkit-scrollbar {
    width: 0.5rem;
    height: 1.4rem;
    background-color: transparent !important;
  }

  .skills-maindiv::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-bottom: 0.5rem #888 solid;
    background-clip: padding-box;
    border-radius: 0.2rem;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1.5%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 2rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1.5%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    margin-left: 4rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}
/*  Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.4rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: auto;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.4rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }

  .projects-main-card-heading {
    font-size: 0.9rem;
  }
  .projects-main-card-para {
    font-size: 0.9rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.4rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: row;
    font-size: 0.9rem;
  }
  .skills-maindiv::-webkit-scrollbar {
    width: 0.5rem;
    height: 1.4rem;
    background-color: transparent !important;
  }

  .skills-maindiv::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-bottom: 0.5rem #888 solid;
    background-clip: padding-box;
    border-radius: 0.2rem;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    font-size: 0.8rem;
    width: auto;
    margin-left: 1rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    width: auto;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 3rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 499px) and (max-width: 575px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-right: auto;
    margin-left: 1rem;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }

  .projects-main-card-heading {
    font-size: 0.9rem;
  }
  .projects-main-card-para {
    font-size: 0.9rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: row;
    font-size: 0.9rem;
  }
  .skills-maindiv::-webkit-scrollbar {
    width: 0.5rem;
    height: 1.4rem;
    background-color: transparent !important;
  }

  .skills-maindiv::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-bottom: 0.5rem #888 solid;
    background-clip: padding-box;
    border-radius: 0.2rem;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    font-size: 0.8rem;
    width: auto;
    margin-left: 0rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    width: auto;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 3rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}

/* XX-Small devices (portrait phones, less than 499px) */
@media (min-width: 367px) and (max-width: 498px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-right: auto;
    margin-left: 1rem;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }

  .projects-main-card-heading {
    font-size: 0.9rem;
  }
  .projects-main-card-para {
    font-size: 0.9rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: row;
    font-size: 0.9rem;
  }
  .skills-maindiv::-webkit-scrollbar {
    display: none;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    font-size: 0.8rem;
    width: auto;
    margin-left: 0rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    width: auto;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 2rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}

/* XXX-Small devices (portrait phones, less than 367px) */
@media (max-width: 366px) {
  /* workexperience */
  .resume-workexperience {
    margin-top: 10rem;
  }
  .workexperience-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .workexperience-tablediv {
    margin-top: 5rem;
    margin-right: auto;
    margin-left: 1rem;
  }
  /* tablediv-1 */
  .workexperience-tablediv-1-heading {
    letter-spacing: 0.1rem;
    margin-top: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
  }
  .workexperience-tablediv-1-para1 {
    letter-spacing: 0.063rem;
    font-size: 0.9rem;
  }

  /* tablediv-2 */
  .workexperience-tablediv-2 {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-align: justify;
  }
  .workexperience-tablediv-2-para1 {
    letter-spacing: 0.063rem;
  }
  .workexperience-tablediv-2-para2 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para3 {
    letter-spacing: 0.063rem;
    margin-top: 1.5rem;
  }
  .workexperience-tablediv-2-para2-span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .workexperience-tablediv-2-para3-span {
    margin-left: 0.4rem;
    margin-right: 0rem;
  }

  /* Projects */
  .resume-projects {
    margin-top: 10rem;
  }
  .projects-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .projects-parent-card {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .projects-main-card {
    background: transparent !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: white;
  }
  .projects-main-card-heading {
    font-size: 0.9rem;
  }
  .projects-main-card-para {
    font-size: 0.9rem;
  }
  .card-link {
    text-decoration: none;
    color: white;
  }
  .card-link:hover {
    text-decoration: none;
    color: white;
  }

  /* skills */
  .resume-skills {
    margin-top: 10rem;
  }
  .skills-heading {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }
  .skills-maindiv {
    margin-left: 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: row;
    font-size: 0.9rem;
  }
  .skills-maindiv::-webkit-scrollbar {
    display: none;
  }

  /* subdiv1 */
  .skills-subdiv1 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv1-para {
    display: inline;
  }
  .skills-subdiv1-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* subdiv2 */
  .skills-subdiv2 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv2-para {
    display: inline;
  }
  .skills-subdiv2-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv3 */
  .skills-subdiv3 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv3-para {
    display: inline;
  }
  .skills-subdiv3-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv4 */
  .skills-subdiv4 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv4-para {
    display: inline;
  }
  .skills-subdiv4-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv5 */
  .skills-subdiv5 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv5-para {
    display: inline;
  }
  .skills-subdiv5-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv6 */
  .skills-subdiv6 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv6-para {
    display: inline;
  }
  .skills-subdiv6-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }
  /* subdiv7 */
  .skills-subdiv7 {
    display: inline;
    padding: 0.8rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
  }
  .skills-subdiv7-para {
    display: inline;
  }
  .skills-subdiv7-icon {
    width: 2.3rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
  }

  /* Github */
  .resume-github {
    margin-top: 7rem;
    text-align: center;
  }
  .resume-github-para-link1 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    font-size: 0.8rem;
    width: auto;
    margin-left: 0rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .resume-github-para-link2 {
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    width: auto;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 2rem;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .resume-github-para-link2:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
}
