.about-div-textdiv-second-para-span1 {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}
.about-div-textdiv-second-para-span2 {
  display: inline-block;
  text-align: justify;
}

/* XX-Large */
@media (min-width: 1400px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 80%;
  }
  .about-div-imagediv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 2rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2.5%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 80%;
  }
  .about-div-imagediv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/test.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 2rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 80%;
  }
  .about-div-imagediv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 2rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 90%;
  }
  .about-div-imagediv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 2rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2.5%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}
/*  Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 90%;
  }
  .about-div-imagediv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second {
    margin-top: 2rem;
  }
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2.5%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 499px) and (max-width: 575px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 90%;
  }
  .about-div-imagediv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second {
    margin-top: 2rem;
  }
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}

/* XX-Small devices (portrait phones, less than 499px) */
@media (min-width: 367px) and (max-width: 498px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 90%;
  }
  .about-div-imagediv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 8rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second {
    margin-top: 2rem;
  }
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2.5%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}

/* XXX-Small devices (portrait phones, less than 367px) */
@media (max-width: 366px) {
  .about-div {
    margin-top: 10rem;
  }
  .about-div-textdiv {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 90%;
  }
  .about-div-imagediv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 6.5rem;
    border-radius: 0.5rem;
    background-image: url("../../assets/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* FIRST TEXT DIV */
  .about-div-textdiv-first-para1 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para2 {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-first-para3 {
    margin-top: -0.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }

  /* SECOND TEXT DIV */
  .about-div-textdiv-second {
    margin-top: 2rem;
  }
  .about-div-textdiv-second-para-subdiv {
    margin-top: 3rem;
    height: 2.2rem;
  }
  .about-div-textdiv-second-para {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
  }
  .about-div-textdiv-second-subdiv-link1 {
    padding: 2.5%;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;

    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .about-div-textdiv-second-subdiv-link1:hover {
    text-decoration: none;
    color: black;
    background-position: left;
  }
  .about-div-textdiv-second-subdiv-link2 {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    font-weight: 400;
    letter-spacing: 0.063rem;
    font-size: 0.8rem;
  }
  .about-div-textdiv-second-subdiv-link2:hover {
    text-decoration: none;
    color: white;
  }
}
