.home-div {
  margin-top: 9rem;
}
@font-face {
  font-family: "Neue Plak Regular";
  src: url("../../assets/fonts/Neue-Plak-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.home-div-para {
  font-family: "Neue Plak Regular";
}

.home-div-text2 {
  font-family: "Neue Plak Regular";
}

/* XX-Large */
@media (min-width: 1400px) {
  .home-div {
    height: 35vh;
  }
  .home-div-heading {
    margin-top: 1rem;
    display: inline-block;
    margin-left: 3rem;
    color: white;
    width: 35rem;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 2rem;
  }
  .home-div-para {
    display: block;
    margin-top: 1.5rem;
    margin-left: 3rem;
    color: white;
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: 35rem;
  }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .home-div {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .home-div-heading {
    margin-top: 1rem;
    display: inline-block;
    margin-left: 4rem;
    color: white;
    width: auto;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 2rem;
  }
  .home-div-para {
    display: block;
    margin-top: 1.5rem;
    margin-left: 4rem;
    color: white;
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: 30rem;
  }
  .home-div-text2 {
    text-align: center;
    position: relative;
  }
  .home-div-text2-link {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
  }
  .home-div-text2-link:hover {
    text-decoration: underline;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .home-div {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .home-div-heading {
    margin-top: 1rem;
    display: inline-block;
    margin-left: 4rem;
    color: white;
    width: auto;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 2rem;
  }
  .home-div-para {
    display: block;
    margin-top: 1.5rem;
    margin-left: 4rem;
    color: white;
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: 35rem;
  }
  .home-div-text2 {
    text-align: center;
    position: relative;
  }
  .home-div-text2-link {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
  }
  .home-div-text2-link:hover {
    text-decoration: underline;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  .home-div {
    height: auto;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .home-div-heading {
    margin-top: 2rem;
    display: inline-block;
    margin-left: 1rem;
    color: white;
    width: auto;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 2rem;
  }
  .home-div-para {
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: white;
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: auto;
  }
  .home-div-text2 {
    text-align: center;
    position: relative;
  }
  .home-div-text2-link {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
  }
  .home-div-text2-link:hover {
    text-decoration: underline;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
  }
}
/*  Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767px) {
  .home-div {
    height: 35vh;
    margin-top: 7rem;
  }
  .home-div-heading {
    margin-top: 2rem;
    display: inline-block;
    margin-left: 2rem;
    color: white;
    width: auto;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 0.5rem;
  }
  .home-div-para {
    display: block;
    margin-top: 1rem;
    margin-left: 2rem;
    color: white;
    font-size: 0.76rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: 30rem;
  }
  .home-div-text2 {
    display: none;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 499px) and (max-width: 575px) {
  .home-div {
    height: 35vh;
    margin-top: 7rem;
  }
  .home-div-heading {
    margin-top: 2rem;
    display: inline-block;
    margin-left: 2rem;
    color: white;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 1rem;
  }
  .home-div-para {
    display: block;
    margin-top: 1rem;
    margin-left: 2rem;
    color: white;
    font-size: 0.76rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: 20rem;
  }
  .home-div-text2 {
    display: none;
  }
}

/* XX-Small devices (portrait phones, less than 499px) */
@media (min-width: 367px) and (max-width: 498px) {
  .home-div {
    height: 41vh;
    margin-top: 5rem;
  }
  .home-div-heading {
    margin-top: 2rem;
    display: inline-block;
    margin-left: 2rem;
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 1rem;
  }
  .home-div-para {
    display: block;
    margin-top: 1rem;
    margin-left: 2rem;
    color: white;
    font-size: 0.76rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: 16rem;
  }
  .home-div-text2 {
    display: none;
  }
}

/* XXX-Small devices (portrait phones, less than 367px) */
@media (max-width: 366px) {
  .home-div {
    height: 41vh;
    margin-top: 5rem;
  }
  .home-div-heading {
    margin-top: 2rem;
    display: inline-block;
    margin-left: 2rem;
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.063rem;
  }
  .home-div-heading-span {
    display: block;
    margin-top: 1rem;
  }
  .home-div-para {
    display: block;
    margin-top: 1rem;
    margin-left: 2rem;
    color: white;
    font-size: 0.76rem;
    line-height: 1.875rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.063rem;
    width: 16rem;
  }
  .home-div-text2 {
    display: none;
  }
}
