.contact-div {
  color: white;
  margin-top: 10rem;
}

/* XX-Large */
@media (min-width: 1400px) {
  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 40%;
  }
  .contact-subdiv-2 {
    width: 40%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 40%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 40%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 40%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
  }
  .contact-input-2::placeholder {
    color: white;
  }
  .contact-input-3::placeholder {
    color: white;
  }
  .contact-input-4::placeholder {
    color: white;
  }
  .contact-input-5::placeholder {
    color: white;
  }
  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 1%;
    width: auto;
  }

  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .error-validation-image {
    margin-top: -0.3rem;
    margin-left: 0.5rem;
    height: 1.2rem;
  }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 40%;
  }
  .contact-subdiv-2 {
    width: 40%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 40%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 40%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 40%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
  }
  .contact-input-2::placeholder {
    color: white;
  }
  .contact-input-3::placeholder {
    color: white;
  }
  .contact-input-4::placeholder {
    color: white;
  }
  .contact-input-5::placeholder {
    color: white;
  }
  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 1%;
    width: auto;
  }

  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .error-validation-image {
    margin-top: -0.3rem;
    margin-left: 0.5rem;
    height: 1.2rem;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 40%;
  }
  .contact-subdiv-2 {
    width: 40%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 40%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 40%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 40%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
  }
  .contact-input-2::placeholder {
    color: white;
  }
  .contact-input-3::placeholder {
    color: white;
  }
  .contact-input-4::placeholder {
    color: white;
  }
  .contact-input-5::placeholder {
    color: white;
  }
  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 1%;
    width: auto;
  }

  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .error-validation-image {
    margin-top: -0.3rem;
    margin-left: 0.5rem;
    height: 1.2rem;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991px) {
  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 50%;
  }
  .contact-subdiv-2 {
    width: 50%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 50%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 50%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 50%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
  }
  .contact-input-2::placeholder {
    color: white;
  }
  .contact-input-3::placeholder {
    color: white;
  }
  .contact-input-4::placeholder {
    color: white;
  }
  .contact-input-5::placeholder {
    color: white;
  }
  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 1.5%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 1.5%;
    width: auto;
  }

  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
  .error-validation-image {
    margin-top: -0.3rem;
    margin-left: 0.5rem;
    height: 1.2rem;
  }
}
/*  Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767px) {
  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
    font-size: 1.4rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 80%;
  }
  .contact-subdiv-2 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 80%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-2::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-3::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-4::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-5::placeholder {
    color: white;
    font-size: 0.9rem;
  }

  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
    font-size: 0.8rem;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 2%;
    width: auto;
    font-size: 0.8rem;
  }

  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .error-validation-image {
    margin-top: -0.1rem;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    height: 1rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 499px) and (max-width: 575px) {
  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
    font-size: 1.4rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 80%;
  }
  .contact-subdiv-2 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 80%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-2::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-3::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-4::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-5::placeholder {
    color: white;
    font-size: 0.9rem;
  }

  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
    font-size: 0.8rem;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 2%;
    width: auto;
    font-size: 0.8rem;
  }

  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .error-validation-image {
    margin-top: -0.1rem;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    height: 1rem;
  }
}

/* XX-Small devices (portrait phones, less than 499px) */
@media (min-width: 367px) and (max-width: 498px) {
  /* react toastify */
  .Toastify__toast--success {
    margin-left: 1rem;
    width: 90%;
  }
  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
    font-size: 1.4rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 80%;
  }
  .contact-subdiv-2 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 80%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-2::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-3::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-4::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-5::placeholder {
    color: white;
    font-size: 0.9rem;
  }

  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
    font-size: 0.8rem;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 2%;
    width: auto;
    font-size: 0.8rem;
  }
  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .error-validation-image {
    margin-top: -0.1rem;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    height: 1rem;
  }
}

/* XXX-Small devices (portrait phones, less than 367px) */
@media (max-width: 366px) {
  /* react toastify */
  .Toastify__toast--success {
    margin-left: 1rem;
    width: 90%;
  }

  .contact-div-form-div-subdiv {
    margin: auto;
  }
  .contact-div-form-div-subdiv {
    margin-top: 3rem;
  }
  .contact-div-heading {
    margin-left: 0.7rem;
    font-size: 1.4rem;
  }
  /* CONTACT DIVS */
  .contact-subdiv-1 {
    width: 80%;
  }
  .contact-subdiv-2 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-3 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-4 {
    margin-top: 1.5rem;
    width: 80%;
  }
  .contact-subdiv-5 {
    margin-top: 1.5rem;
    width: 80%;
  }
  /* INPUTS */
  .contact-input-1 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-1:focus::placeholder {
    opacity: 0;
  }

  .contact-input-2 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-2:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-2:focus::placeholder {
    opacity: 0;
  }
  .contact-input-3 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-3:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-3:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    color: white;
  }
  .contact-input-4:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
  }
  .contact-input-4:focus::placeholder {
    opacity: 0;
  }
  .contact-input-4::-webkit-inner-spin-button,
  .contact-input-4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  .contact-input-5 {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    resize: none;
    color: white;
  }
  .contact-input-5:focus {
    padding: 2%;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    box-shadow: none;
    color: white;
    resize: none;
  }
  .contact-input-5:focus::placeholder {
    opacity: 0;
  }
  /* PLACEHOLDER */
  .contact-input-1::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-2::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-3::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-4::placeholder {
    color: white;
    font-size: 0.9rem;
  }
  .contact-input-5::placeholder {
    color: white;
    font-size: 0.9rem;
  }

  /* BUTTON */
  .contact-sendButton {
    margin-top: 3rem;
    margin-left: 0.9rem;

    padding-left: 2%;
    padding-right: 2%;
    width: auto;
    text-decoration: none;
    color: white;
    border: solid 0.1rem;
    border-color: white;
    padding: 2%;
    font-weight: 400;
    letter-spacing: 0.063rem;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, white 50%) right;
    background-size: 200%;
    transition: 0.1s linear;
    font-size: 0.8rem;
  }
  .contact-sendButton:hover {
    margin-top: 3rem;
    margin-left: 0.9rem;
    text-decoration: none;
    border: solid 0.1rem;
    border-color: white;
    color: black;
    background-position: left;
    padding: 2%;
    width: auto;
    font-size: 0.8rem;
  }

  /* Validation error */
  .contact-input-1-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-2-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-3-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-4-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .contact-input-5-error {
    color: #fb644c;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .error-validation-image {
    margin-top: -0.1rem;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    height: 1rem;
  }
}
